/* Estilos para los formularios */
input[type="radio"] {
    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#campo_empresa,
#campo_persona {
    display: none;
}

.image_wrapper_admin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_admin img {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ccc;
}

#custom_btn_image,
button[type="submit"] {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#custom_btn_image {
    background-color: #3498db;
    color: #fff;
}

button[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
}

a {
    text-decoration: none;
    color: #3498db;
}

@media (min-width: 768px) {
    .form_image_admin {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .image_admin {
        margin-right: 10px;
    }
}

/* Resetear algunos estilos por defecto */
body, h1, h2, h3, p, label, input, button, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    
}

section {
    
    margin: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #b2abfd;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c0392b;
}

/* Estilos responsivos - ajustar según sea necesario */
@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        background-color: #f2f2f2;
    }
}
    /*Estilo para los cliente*/
    .cliente-info {
        display: flex;
        flex-direction: row;
    }
    
/* Estilo para formulario de ventas, diseñado para las busquedas */

.buscadorProductos ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.buscadorProductos {
    position: relative;
    text-align: center;
}

#buscadorProducto {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#productoBuscado {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
}

#productoBuscado li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}


#buscadorProducto:focus + #productoBuscado {
    display: block;
}

.custom-card {
    max-width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #ffffff, #f0f0f0); /* Fondo degradado */
}

.product-info {
    margin-bottom: 10px;
}

.product-label {
    font-weight: bold;
}

.product-image {
    max-width: 100%;
    height: auto;
}
