header {
    /*position: fixed;*/
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 100; /* Ajusta el valor según sea necesario para asegurarte de que esté por encima del contenido */
}

nav {
    background: url('/imagenes/wave.png');
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor sin distorsionarla */
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 120px;

    /*background: linear-gradient(to right, #0059ff, #000000, #2a009e, #27ec00);*/
}



nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    color: #8970e1;
    display: inline;
    margin-right: 10px;
}

nav a {
    color:#fdfdff;
    text-decoration: none;
}
a{
    color: #0648ff;
}

.navbar-nav li img {
    height: 50px; /* Cambia el valor a 60px o cualquier otro valor que desees */
    margin-right: 10px; /* Ajusta el margen derecho para separar la imagen de los otros elementos */
    display: inline-block; /* Permite alinear la imagen con los otros elementos en línea */
    vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
    border-radius: 30%; /* Aplica un borde redondeado para que no haya esquinas */
    padding: 0px; /* Ajusta el espacio dentro del borde */
}
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   

.card-img-top {
    height: 200px; /* Establece la altura deseada de las imágenes */
    object-fit: cover; /* Hace que la imagen mantenga su relación de aspecto y cubra completamente el contenedor */
}
.imagen{
    height: 500px;
    width: 100%;
    align-items: center;

}

.imagen{
    width: 100%;
    height: 500px;
    align-items: center;
}

section1 h3 {
    color: #2000ad;
    margin-top: auto;
    font-family: "Times New Roman", Times, serif; /* Tipo de letra Times New Roman */
    text-align: center; /* Alinear el texto al centro */
    font-size: 30px;
}
section2 h3 {
    color: #2000ad;
    font-family: "Times New Roman", Times, serif; /* Tipo de letra Times New Roman */
    text-align: center; /* Alinear el texto al centro */
    font-size: 30px;
}
.card-title{
    color: #2000ad;
    font-family: 'Times New Roman', Times, serif; /* Cambia la fuente del título */
    font-size: 1.5rem; /* Tamaño de letra mediano */
    text-align: center;
}

.card-text h3 {
    font-size: 3px; /* Tamaño de letra deseado */
    height: 3px;
}

section h2 {
    font-size: 24px; /* Cambia el tamaño de la fuente del título h2 */
    color: #555; /* Cambia el color del texto del título h2 */
}

section h1 {
    font-size: 32px; /* Cambia el tamaño de la fuente del título h1 */
    color: #222; /* Cambia el color del texto del título h1 */
}


.card {
    background-color: #f8f9fa; /* Color de fondo de las tarjetas */
    border: none; /* Quita el borde de las tarjetas si lo deseas */
}

.card-body {
    text-align: center;
    align-items: center;
}

.card-title {
    font-size: 18px; /* Tamaño de fuente del título */
    font-weight: bold;
    color: #333; /* Color del texto del título */
    text-align: center;
    align-items: center;
}

.card-text {
    font-size: 16px; /* Tamaño de fuente del texto */
    color: #0f0909; /* Color del texto */
    text-align: center;
}
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: rgb(243, 243, 243);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
section {
    background-color: #7bd3fcc7;
    color: #000000;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 90px;
    margin: 10px;
    display: flex; 
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.mission_card, .vision_card {
   /* Ajusta la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    /* Fondo con degradado */
    background: linear-gradient(to right, #dbdfe6cc, rgb(218, 249, 212));
    border-radius: 10px;
    padding: 20px;
}

.card-title, .card-text {
    color: #333; /* Color del texto */
}

aside{
    background-image: url('/imagenes/Fondoseccion.jpg');
}


footer{
    margin-top: 15px;

    background-color: #0c0b0b;
    height: auto;
}
p { color: #ddd9d9;
    font-size: 20px; /* Tamaño de letra */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; /* Tipo de letra */
}
li{
    color: #ffffff;
}